.menu{
    display:flex;
    justify-content:space-between;
}
.navbar-brand{

}
.card_menu{
    display:flex;
    justify-content:space-between;
}

#sale_container{
    display:flex;
}

.part{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.card img{
    border:1px solid grey;
    border-radius:5px;
}
.logo{
    position:absolute;
    z-index:999;
    top:-2px

}

