.menu{
    display:flex;
    justify-content:space-between;
}
.navbar-brand{

}
.card_menu{
    display:flex;
    justify-content:space-between;
}

#sale_container{
    display:flex;
}
.card img{
    height:300px;
    object-fit: cover;
    object-position: 25% 25%;
}
.part{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.card img{
    border:1px solid grey;
    border-radius:5px;
}

#sale_block{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

